//global base
@base: 16;
@fontbase: 18;

//layout sizing:
@gap: 32;
@gap-rem: unit(@gap/@base,rem);

//site sizing:
@site-width: 1200;
@break-max-rem: unit(@site-width/@base,rem);

@break-min: 580;
@break-min-rem: unit(@break-min/@base,rem);
@break-mid: 820;
@break-mid-rem: unit(@break-mid/@base,rem);



//colours
@c_grey_light: #EFEFEF;
@c_grey_med: #737373;
@c_grey_dark: #505050;
@c_grey_x-dark: #222;

@c_green: #71CBAF;
@c_green_light: #F0FAF7;

@c_blue: #004ADB;
@c_blue_light: #D7E2F9;

@c_red: #E97055;
@c_red_light: #F6DFDA;

@c_yellow: #EDBB4A;
@c_yellow_light: #FFEFCB;

@c_purple: #9013FE;
@c_purple_light: #FAF3FF;

:root {
    --gap: unit(20/@base,rem);
    --base: @base;
    --fontbase: 15;
}

@media screen and (min-width: (@break-min-rem) ) {
    :root {
        --gap: @gap-rem;
        --base: @base;
        --fontbase: @fontbase;
    }
}