@font-face {
    font-family: 'YoungSerif';
    src: url('fonts/YoungSerif.woff2') format('woff2');
}

@font-face {
    font-family: 'Orkney';
    src: url('fonts/Orkney Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Orkney';
    src: url('fonts/Orkney Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Orkney';
    src: url('fonts/Orkney Regular Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Orkney';
    src: url('fonts/Orkney Bold Italic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Code';
    src: url('fonts/FiraCode.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}




#type {
    #util {
        .font-size(@s) {
            font-size: unit(@fontbase * @s / @base, rem);
            font-size: ~"calc( ( (var(--fontbase) * @{s}) / var(--base)) * 1rem )";
        }
    }
    #font {
        .serif() {
            font-family: 'YoungSerif', serif;
            font-weight: normal;
            font-style: normal;
        }
        .sans() {
            font-family: 'Orkney', sans-serif;
        }
    }
    #size {
        .regular() {
            font-size: unit(16/@base,rem);
            line-height: 24 / 16;
            .break-min({
                font-size: unit(18/@base,rem);
                line-height: 28 / 18;
            });
        }
        .small() {
            font-size: unit(15/@base, rem); 
            line-height: 20 / 15;
        }
        .large() {
            font-size: unit(19/@base,rem);
            line-height: 26 / 19;
            .break-min({
                font-size: unit(24/@base,rem);
                line-height: 32 / 24;
            });
        }
        .h1() {
            font-size: unit(32/@base, rem);
            line-height: 38 / 32;
            .break-min({
                font-size: unit(62/@base, rem);
                line-height: 66 / 62;
            });
        }
        .h2() {
            font-size: unit(20/@base,rem);
            line-height: 24 / 20;
            .break-min({
                font-size: unit(24/@base,rem);
                line-height: 28 / 24;
            });
        }
    }
    #style {
        .link() {
            color: @c_grey_x-dark;
            text-decoration: underline;
        }
    }
}

//global type styles
h1 {
    #type > #font > .serif;
    #type > #size > .h1;
    letter-spacing: -0.1px;
}

h2 {
    #type > #size > .h2;
}

body, input, textarea, button {
    color: @c_grey_x-dark;
    #type > #font > .sans;
    font-feature-settings: "liga" 1;
    font-variant: normal;
    font-kerning: normal;
}

@supports (font-variant-position: sub) {
  sub,sup {
    position: inherit;
    top: auto;
    bottom: auto;
  }
  sub {
    font-variant-position: sub;
  }
  sup {
    font-variant-position: super;
  }
}

//prose type styles
.prose {

    //sizing
    p, ol, ul, h3, h4, h5, h6 {
        #type > #size > .regular;
    }
    .lead,
    &--lead p {
        #type > #size > .large;
        color: @c_grey_dark;
    }
    time {
        #type > #size > .small;
        color: @c_grey_dark;
        display: inline-block;
    }

    //spacing
    li + li {
        margin-top: unit(2/@base,rem);
    }
    p, ol, ul, h2, h3, h4, h5, h6, time {
        margin-bottom: unit(12/@base,rem);
    }

    
    //styling
    a {
        #type > #style > .link;
    }
    h3, h4, h5, h6 {
        font-weight: bold;
    }

    
    //tables
    table {
        border-collapse: collapse;
        #type > #size > .regular;
        font-variant-numeric: lining-nums tabular-nums;
    }

    thead tr {
        border-bottom: 1px solid;
    }

    td, th {
        padding: 0.5em;
        line-height: 1;
        vertical-align: top;
    }

    th {
        font-weight: bold;
    }

    td {
        text-align: "." center;
    }

    //code
    code {
        font-family: 'Fira Code', monospace;
        font-size: 87%;
    }


    p>code,
    li>code {
        padding: 0 unit(3/@base,rem);
        margin: 0 unit(-3/@base,rem);
        background-color: fade(black,5%);
        border-radius: unit(6/@base,rem);
        border: 1px solid fade(black,7%);
    }


}