@import '_settings';
@import '_reset';
@import '_typography';

//layout
@import 'grid';

//components
@import 'components/figure';

//modules
@import 'modules/card';

//move this?
.break-min(@rule) {
  @media screen and (min-width: (@break-min-rem) ) {
    @rule();
  }
}

//DEV styles:
section {
    margin: 0 auto;
    padding: 0 @gap-rem;
    padding: 0 var(--gap);
    max-width: unit(@site-width/@base,rem);
    box-sizing: border-box;
    outline: 1px solid black;
}

.grid > * {
    background-color: red;
    height: 100px;
}

.test {
    height: 400px;
    background-color: blue;
    width: ~"calc(100% + var(--gap))";
    margin-left: ~"calc(-1 * var(--gap))";
}

.prose > * {
    max-width: 600px;
}

body {
    padding-bottom: 100px;
}

figure {
    outline: 1px solid green;
}