{{ section:header }}
<div class="grid grid--cinched space--pico">
    <h1 class="bleed--start">{{ title }}</h1>
</div>
<div class="grid grid--fat-thin prose space--tall">
    <div class="prose prose--lead">
        {{ content }}
    </div>
</div>
{{ /section:header }}

<main class="container">
    <div class="grid grid--halves">
        {{ collection from="articles" limit="4" }}
        {{ partial src="modules/card" :card_title="title"
        :card_content="content" :card_cover="cover" card_cta="Read {title}" :card_url="url" }}
        {{ /collection }}
    </div>
</main>