{{ section:header }}
<div class="grid grid--title space--pico">
    <h1 class="bleed--start">{{ title }}</h1>
</div>
<div class="grid grid--prose prose space--tall">
    <div class="prose prose--lead">
        {{ content }}
    </div>
</div>
{{ /section:header }}

<main class="wrapper">
    <div class="grid grid--halves">
        {{ collection from="case-studies" }}
            {{ partial src="modules/card" card_classes={ switch between='bleed--start|bleed--end' } :card_title="title" }}
        {{ /collection }}
    </div>
</main>