{{ section:header }}
    <div class="grid grid--title space--pico">
        <h1>{{ title }}</h1>
    </div>
    <div class="grid grid--prose space--tall">
        <div class="prose prose--lead">
            {{ content | smartypants }}
        </div>
    </div>
{{ /section:header }}


{{ sections }}
    <section class="wrapper space--grande section-decoration--{{ section_decoration }}"{{ if section_title}} id="{{ section_title | slugify }}"{{ /if }}>
        {{ modules }}
            {{ if type == "figure" }}
                <div class="grid space--short">
                    {{ partial src="components/figure" }}
                </div>
            {{ /if }}
            {{ if type == "prose" }}
            <div class="grid grid--prose">
                {{ partial src="modules/prose" }}
            </div>
            {{ /if }}
        {{ /modules }}
    </section>
{{ /sections }}