{{ section:header }}
    <div class="grid grid--cinched space--pico">
        <h1 class="bleed--start">{{ title }}</h1>
    </div>
{{ /section:header }}

<main class="container ">
    <div class="grid grid--showcase">
        <article>
            <div class="prose space--short">
                {{ content | markdown | smartypants }}
            </div>
        {{ partial:components/button button_url="/services" button_title="Find out how" button_type="link" }}
        </article>
        {{ partial:components/figure :figure_images="illustration" }}
    </div>
</main>
