{{ section:header }}
    <div class="grid grid--title space--pico">
        <h1>{{ title }}</h1>
    </div>
{{ /section:header }}

<main class="wrapper">
    <div class="grid grid--halves">
        <div class="prose">
            <div class="space--tall"><p class="lead">{{ subtitle }}</p></div>
            {{ content | markdown | smartypants }}
        </div>
        {{ partial:components/figure :figure_images="illustration" }}
    </div>
    <div class="grid">
        {{ partial:components/button button_url="/services" button_title="Find out how" }}
    </div>
</main>
