{{ section:header }}
    <div class="wrapper grid grid--title space--pico">
        <h1>{{ title }}</h1>
    </div>
    <div class="wrapper grid grid--halves prose space--grande">
        <div class="prose prose--lead">
            {{ content }}
        </div>
    </div>
{{ /section:header }}

<main class="wrapper">
    <div class="grid grid--split-halves">
        {{ services }}
            {{ partial src="modules/card" card_color={switch between="green|blue|red|yellow|purple"} }}
        {{ /services }}
    </div>
</main>