.card {
    position: relative;

    &__splodge {
        #space > .pico;
    }

    .break-min({
        &__splodge {
            position: absolute;
            left: unit(-74/@base,rem);
            top: unit(-15/@base,rem);
        }
    });
    
}