.button {
    border: 1px solid @c_grey_x-dark;
    padding: unit(@gap / 2 / @base,rem) unit(@gap/@base,rem);
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    color: @c_grey_x-dark;
    box-shadow: 3px 3px 0 @c_yellow;
    #type > #size > .regular;

    >.icon {
        margin-left: unit(@gap/4/@base,rem);
    }

}