<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title or site_title }}</title>
    <link rel="stylesheet" href="{{ theme:css }}">
    <link rel="shortcut icon" type="image/x-icon" href="/site/themes/roodesign/css/img/favicon.ico" />
</head>


<body class="page-{{ template }}">

    <header class="wrapper">

        <nav class="navigation space--tall">
            <a href="/" class="navigation__logo">
                <svg xmlns="http://www.w3.org/2000/svg" width="29" height="36">
                    <g fill="none" fill-rule="evenodd">
                        <path fill="#F9CD68" d="M14.9 24.5l8.4-8.4 5 5-8.5 8.4-3.5 3.5L5 21.7l3.5-3.5 6.4 6.3zM12 14.6l4.3-4.2 4.2 4.2-4.2 4.3-4.3-4.3zm-7-7l4.2-4.3 5 5-4.3 4.2-5-5zm13.4.7L24 2.6 28.3 7l-5.7 5.6-4.2-4.2z" />
                        <path fill="#222" fill-rule="nonzero" d="M2.1 7.6L15 20.3l5.6-5.6-4.3-4.3.7-.7 4.3 4.3 6.4-6.4-5.7-5.7-11.3 11.3-.7-.7 4.2-4.2-6.3-6.4L2 7.6zm19.8 7l7 7.2-14 14.1L.6 21.8l7-7.2-7-7 7-7.1 7.2 7 7-7 7.1 7-7.1 7.2zm-7 7.1l-6.4-6.3L2 21.8l12.7 12.7 12.7-12.7-6.3-6.4-6.3 6.3z" />
                    </g>
                </svg>
            </a>
            <ul class="navigation__items">
                <li><a href="/" {{ if current_uri == '/' }} class="active" {{ /if }}>Home</a></li>
                <li><a href="/services" {{ if segment_1 == 'services' }} class="active" {{ /if }}>Services</a></li>
                <li><a href="/about"  {{ if segment_1 == 'about' }} class="active" {{ /if }}>About me</a></li>
                <!--li><a href="/articles"{{ if segment_1 == 'articles' }} class="active"{{ /if }}>Articles</a></li-->
                <!--<li><a href="#">Services</a></li>
                <li><a href="#">About me</a></li> -->
                <li><a href="/contact" {{ if segment_1 == 'contact' }} class="active" {{ /if }}>Contact</a></li>
            </ul>
        </nav>

        {{ yield:header }}

    </header>

    {{ template_content }}

    <footer class="footer wrapper">

        <svg width="32" height="38" xmlns="http://www.w3.org/2000/svg" class="footer__badge">
            <g fill="none" fill-rule="evenodd">
                <path d="M15.735 8.851L27.993 21.2 15.735 33.549 3.477 21.2 15.735 8.851z" stroke="#FFF" stroke-width="5" fill="#FFF" />
                <path d="M15.735 8.842l4.36-4.39 7.9 7.953-12.26 12.343L3.476 12.405l7.9-7.953 4.36 4.39z" stroke="#FFF"
                    stroke-width="5" fill="#FFF" />
                <path stroke="#3F3F3F" d="M15.735 12.4l8.736 8.8-8.736 8.8L7 21.2z" />
                <path stroke="#3F3F3F" d="M20.095 8l4.376 4.405-8.736 8.795L7 12.405 11.375 8l4.36 4.39z" />
            </g>
        </svg>

        <div class="footer__content">
    
            <p class="footer__copyright">&copy; 2001-{{ now format='Y' }} <strong>Jon Roobottom</strong></p>
            
            <ul class="footer__social">
                <li><a href="https://github.com/roobottom" title="Jon Roobottom's Github profile">{{ partial:components/icon
                        name="github"}}</a></li>
                <li><a href="https://medium.com/@roobottom" title="Jon Roobottom's articles on Medium">{{ partial:components/icon
                        name="medium"}}</a></li>
                <li><a href="https://www.linkedin.com/in/roobottom/" title="Jon Roobottom's LinkedIn profile">{{ partial:components/icon
                        name="linkedin"}}</a></li>
                <li><a href="https://twitter.com/roobottom" title="Jon Roobottom's Twitter profile">{{ partial:components/icon
                        name="twitter"}}</a></li>
            </ul>

        </div>
    
    </footer>

    <script src="{{ theme:js }}"></script>

</body>

</html>
