<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title or site_title }}</title>
    <link rel="stylesheet" href="{{ theme:css }}">
</head>


<body>

    <nav class="navigation space--tall">
        <a href="/" class="navigation__logo"><svg width="28" height="35" xmlns="http://www.w3.org/2000/svg">
                <g class="navigation__logo" fill="none" fill-rule="evenodd" stroke="#222">
                    <path d="M13.6 8.507L.707 21.4 13.6 34.293 26.493 21.4 13.6 8.507z" />
                    <path d="M20.388 1L27.2 7.808 13.6 21.4 0 7.808 6.812 1 13.6 7.784z" />
                </g>
            </svg></a>
        <ul class="navigation__items">
            <li><a href="/" {{ if current_uri == '/' }} class="active" {{ /if }}>Home</a></li>
            <li><a href="/work" {{ if segment_1 == 'work' }} class="active" {{ /if }}>My work</a></li>
            <!--li><a href="/articles"{{ if segment_1 == 'articles' }} class="active"{{ /if }}>Articles</a></li-->
            <!--<li><a href="#">Services</a></li>
              <li><a href="#">About me</a></li> -->
            <li><a href="/contact" {{ if segment_1 == 'contact' }} class="active" {{ /if }}>Contact me</a></li>
        </ul>
    </nav>

    {{ template_content }}

    <footer class="footer">
    
        <p class="site-footer__copyright"><strong>&copy; 2001-{{ now format='Y' }} Jon Roobottom</strong></p>
        
        <ul class="site-footer__social">
            <li><a href="https://github.com/roobottom" title="Jon Roobottom's Github profile">{{ partial:icon
                    name="github"}}</a></li>
            <li><a href="https://medium.com/@roobottom" title="Jon Roobottom's articles on Medium">{{ partial:icon
                    name="medium"}}</a></li>
            <li><a href="https://www.linkedin.com/in/roobottom/" title="Jon Roobottom's LinkedIn profile">{{ partial:icon
                    name="linkedin"}}</a></li>
            <li><a href="https://twitter.com/roobottom" title="Jon Roobottom's Twitter profile">{{ partial:icon
                    name="twitter"}}</a></li>
        </ul>
    
    </footer>

    <script src="{{ theme:js }}"></script>

</body>

</html>
