:root {
  --gap: 1.25rem;
  --base: 16;
  --fontbase: 15;
}
@media screen and (min-width: 36.25rem) {
  :root {
    --gap: 2rem;
    --base: 16;
    --fontbase: 18;
  }
}
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
audio,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
mark,
menu,
meter,
nav,
output,
progress,
section,
summary,
time,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  margin: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
q:before,
blockquote:after,
q:after {
  content: '';
  content: none;
}
ins {
  text-decoration: underline;
}
del {
  text-decoration: line-through;
}
mark {
  background: none;
}
abbr[title],
dfn[title] {
  cursor: help;
  text-decoration: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
input[type="submit"],
input[type="button"],
button {
  padding: 0;
  margin: 0;
}
input,
select,
a img {
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
@font-face {
  font-family: 'YoungSerif';
  src: url('fonts/YoungSerif.woff2') format('woff2');
}
@font-face {
  font-family: 'Orkney';
  src: url('fonts/Orkney Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Orkney';
  src: url('fonts/Orkney Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Orkney';
  src: url('fonts/Orkney Regular Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Orkney';
  src: url('fonts/Orkney Bold Italic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Fira Code';
  src: url('fonts/FiraCode.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
h1 {
  font-family: 'YoungSerif', serif;
  font-weight: normal;
  font-style: normal;
  font-size: 2rem;
  line-height: 1.1875;
  letter-spacing: -0.1px;
}
@media screen and (min-width: 36.25rem) {
  h1 {
    font-size: 2.75rem;
    line-height: 1.09090909;
  }
}
@media screen and (min-width: 51.25rem) {
  h1 {
    font-size: 3.875rem;
    line-height: 1.06451613;
  }
}
h2 {
  font-size: 1.25rem;
  line-height: 1.2;
}
@media screen and (min-width: 36.25rem) {
  h2 {
    font-size: 1.5rem;
    line-height: 1.16666667;
  }
}
body,
input,
textarea,
button {
  color: #222;
  font-family: 'Orkney', sans-serif;
  -webkit-font-feature-settings: "liga" 1;
  font-feature-settings: "liga" 1;
  font-variant: normal;
  -webkit-font-kerning: normal;
  font-kerning: normal;
}
@supports (font-variant-position: sub) {
  sub,
  sup {
    position: inherit;
    top: auto;
    bottom: auto;
  }
  sub {
    font-variant-position: sub;
  }
  sup {
    font-variant-position: super;
  }
}
.prose p,
.prose ol,
.prose ul,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  font-size: 1rem;
  line-height: 1.5;
}
@media screen and (min-width: 36.25rem) {
  .prose p,
  .prose ol,
  .prose ul,
  .prose h3,
  .prose h4,
  .prose h5,
  .prose h6 {
    font-size: 1.125rem;
    line-height: 1.55555556;
  }
}
.prose .lead,
.prose--lead p {
  font-size: 1.1875rem;
  line-height: 1.36842105;
  color: #505050;
}
@media screen and (min-width: 36.25rem) {
  .prose .lead,
  .prose--lead p {
    font-size: 1.5rem;
    line-height: 1.33333333;
  }
}
.prose time {
  font-size: 0.9375rem;
  line-height: 1.33333333;
  color: #505050;
  display: inline-block;
}
.prose li + li {
  margin-top: 0.125rem;
}
.prose p,
.prose ol,
.prose ul,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6,
.prose time {
  margin-bottom: 0.75rem;
}
.prose p + h2,
.prose ul + h2,
.prose ol + h2 {
  margin-top: 3rem;
  margin-top: calc( var(--gap) * 1.5);
}
.prose a {
  color: #222;
  text-decoration: underline;
}
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  font-weight: bold;
}
.prose ul li {
  list-style-image: url('img/bullet.svg');
}
.prose ul li li {
  list-style-image: url('img/bullet-level-2.svg');
}
.prose ul li li li {
  list-style: square;
}
.prose ol li li {
  list-style-type: lower-alpha;
}
.prose ol li li li {
  list-style-type: lower-roman;
}
.prose li li {
  margin-left: 1em;
}
.prose table {
  border-collapse: collapse;
  font-size: 1rem;
  line-height: 1.5;
  font-variant-numeric: lining-nums tabular-nums;
}
@media screen and (min-width: 36.25rem) {
  .prose table {
    font-size: 1.125rem;
    line-height: 1.55555556;
  }
}
.prose thead tr {
  border-bottom: 1px solid;
}
.prose td,
.prose th {
  padding: 0.5em;
  line-height: 1;
  vertical-align: top;
}
.prose th {
  font-weight: bold;
}
.prose td {
  text-align: "." center;
}
.prose code {
  font-family: 'Fira Code', monospace;
  font-size: 87%;
}
.prose p > code,
.prose li > code {
  padding: 0 0.1875rem;
  margin: 0 -0.1875rem;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0.375rem;
  border: 1px solid rgba(0, 0, 0, 0.07);
}
.grid > * {
  margin-bottom: 4rem;
  margin-bottom: calc(var(--gap) * 2);
}
@media screen and (min-width: 36.25rem) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .grid--space-tall {
    margin-bottom: 4rem;
  }
  .grid--space-grande {
    margin-bottom: 8rem;
  }
  .grid > * {
    margin-bottom: 0;
  }
  .grid--prose > *:nth-child(2n-1) {
    flex-basis: 50%;
  }
  .grid--prose > *:nth-child(2n) {
    flex-basis: 30%;
  }
  .grid--halves > *,
  .grid--split-halves > * {
    flex-basis: 45%;
  }
}
@supports (display:grid) {
  @media screen and (min-width: 36.25rem) {
    .grid {
      display: -ms-grid;
      display: grid;
      grid-gap: 4rem;
      grid-gap: calc( var(--gap) * 2);
      -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
      grid-auto-flow: row;
    }
    .grid > * {
      -ms-grid-column-span: 8;
      -ms-grid-column: 1;
      grid-column: 1 / span 8;
    }
    .grid--space-tall {
      margin-bottom: 0;
      grid-row-gap: 4rem;
      grid-row-gap: calc( var(--gap) * 2);
    }
    .grid--space-grande {
      margin-bottom: 0;
      grid-row-gap: 8rem;
      grid-row-gap: calc( var(--gap) * 4);
    }
    .grid--halves > *:nth-child(2n-1),
    .grid--split-halves > *:nth-child(2n-1) {
      -ms-grid-column-span: 4;
      -ms-grid-column: 1;
      grid-column: 1 / span 4;
    }
    .grid--halves > *:nth-child(2n),
    .grid--split-halves > *:nth-child(2n) {
      -ms-grid-column: span 4;
      grid-column: span 4;
    }
    .grid--prose > *:nth-child(2n-1) {
      -ms-grid-column-span: 5;
      -ms-grid-column: 1;
      grid-column: 1 / span 5;
    }
    .grid--prose > *:nth-child(2n) {
      -ms-grid-column-span: 3;
      -ms-grid-column: 6;
      grid-column: 6 / span 3;
    }
  }
  @media screen and (min-width: 51.25rem) {
    .grid--title > * {
      -ms-grid-column-span: 6;
      -ms-grid-column: 1;
      grid-column: 1 / span 6;
    }
    .grid--prose > *:nth-child(2n-1) {
      -ms-grid-column-span: 5;
      -ms-grid-column: 1;
      grid-column: 1 / span 5;
    }
    .grid--prose > *:nth-child(2n) {
      -ms-grid-column-span: 2;
      -ms-grid-column: 7;
      grid-column: 7 / span 2;
    }
  }
  @media screen and (min-width: 68.75rem) {
    .grid--prose > *:nth-child(2n-1) {
      -ms-grid-column-span: 5;
      -ms-grid-column: 1;
      grid-column: 1 / span 5;
    }
    .grid--prose > *:nth-child(2n) {
      -ms-grid-column-span: 2;
      -ms-grid-column: 7;
      grid-column: 7 / span 2;
    }
    .grid--split-halves > *:nth-child(2n-1) {
      -ms-grid-column-span: 3;
      -ms-grid-column: 2;
      grid-column: 2 / span 3;
    }
    .grid--split-halves > :nth-child(2n) {
      -ms-grid-column-span: 3;
      -ms-grid-column: 5;
      grid-column: 5 / span 3;
    }
  }
}
.space--pico {
  margin-bottom: 0.875rem;
  margin-bottom: calc( var(--gap) * 0.4375 );
}
.space--short {
  margin-bottom: 2rem;
  margin-bottom: calc( var(--gap) * 1 );
}
.space--tall {
  margin-bottom: 4rem;
  margin-bottom: calc( var(--gap) * 2 );
}
.space--grande {
  margin-bottom: 8rem;
  margin-bottom: calc( var(--gap) * 4 );
}
.wrapper {
  margin-left: auto;
  margin-right: auto;
  padding: 0 2rem;
  padding: 0 var(--gap);
  max-width: 68.75rem;
}
body {
  margin: 2rem 0;
  margin: var(--gap) 0;
}
.page-homepage header {
  background: none;
}
body {
  background-image: linear-gradient(0deg, white 0%, white 40%, rgba(255, 255, 255, 0.5) 41%, rgba(255, 255, 255, 0) 100%), url(img/pattern-roo-black-10.svg);
  background-position: bottom left,
        top left;
  background-repeat: no-repeat, repeat;
  background-attachment: fixed;
}
.figure img {
  display: block;
  max-width: 100%;
}
.figure figcaption {
  font-size: 0.9375rem;
  line-height: 1.33333333;
  color: #737373;
  margin-top: 0.75rem;
}
.figure__images {
  display: flex;
  justify-content: center;
  flex-flow: row;
  align-items: center;
}
.figure--gallery .figure__images {
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  grid-gap: var(--gap);
  -ms-grid-columns: (minmax(16.25rem, 1fr))[auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(16.25rem, 1fr));
}
@media screen and (min-width: 68.75rem) {
  .figure--bleed-start .figure__images,
  .figure--bleed-end .figure__images {
    width: calc(100% + 2rem);
    width: calc(100% + var(--gap));
  }
  .figure--bleed-start.figure--bleed-end .figure__images {
    width: calc(100% + (2 * 2rem));
    width: calc(100% + (2 * var(--gap)));
  }
  .figure--bleed-start .figure__images {
    margin-left: -2rem;
    margin-left: calc(-1 * var(--gap));
  }
  .figure--bleed-end .figure__images {
    margin-right: -2rem;
    margin-right: calc(-1 * var(--gap));
  }
}
.figure--stage .figure__images {
  padding: 2rem;
  padding: var(--gap);
  box-sizing: border-box;
  background: #222 url(img/pattern-roo-white-10.svg) top left repeat;
}
.figure--stage .figure__images > img {
  background: white;
  box-shadow: 0 0 10px black;
}
.figure--green .figure__images {
  background-color: #F0FAF7;
}
.figure--blue .figure__images {
  background-color: #D7E2F9;
}
.figure--red .figure__images {
  background-color: #F6DFDA;
}
.figure--yellow .figure__images {
  background-color: #FFEFCB;
}
.figure--purple .figure__images {
  background-color: #FAF3FF;
}
.splodge {
  min-width: 4.0625rem;
  min-height: 3.5625rem;
  align-items: center;
  justify-content: center;
  display: inline-flex;
}
.splodge__content {
  font-family: 'YoungSerif', serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1.2;
}
@media screen and (min-width: 36.25rem) {
  .splodge__content {
    font-size: 1.5rem;
    line-height: 1.16666667;
  }
}
@supports ((-webkit-mask: url()) or (mask: url())) {
  .splodge {
    -webkit-mask: url('img/splodge.svg');
    mask: url('img/splodge.svg');
    -webkit-mask-size: cover;
    mask-size: cover;
  }
  .splodge--green {
    background-color: #71CBAF;
  }
  .splodge--green .splodge__content {
    color: #222;
  }
  .splodge--blue {
    background-color: #004ADB;
  }
  .splodge--blue .splodge__content {
    color: white;
  }
  .splodge--red {
    background-color: #E97055;
  }
  .splodge--red .splodge__content {
    color: white;
  }
  .splodge--yellow {
    background-color: #EDBB4A;
  }
  .splodge--yellow .splodge__content {
    color: #222;
  }
  .splodge--purple {
    background-color: #9013FE;
  }
  .splodge--purple .splodge__content {
    color: white;
  }
}
.navigation {
  display: flex;
  justify-content: space-between;
}
.navigation li {
  list-style: none;
}
.navigation a {
  text-decoration: none;
  color: #222;
}
.navigation .active {
  font-weight: bold;
  position: relative;
  text-shadow: 2px 0 0 white;
}
.navigation .active:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 8px;
  width: 100%;
  background: #EDBB4A;
  z-index: -1;
}
.navigation__items {
  text-align: right;
}
@media screen and (min-width: 36.25rem) {
  .navigation {
    align-items: center;
  }
  .navigation__items {
    display: flex;
    justify-content: space-between;
  }
  .navigation__items li {
    margin-left: 2rem;
  }
}
.footer {
  position: relative;
  margin-top: 8rem;
  margin-top: calc( var(--gap) * 4);
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-top: 1px solid #737373;
  padding-top: 2rem;
  padding-top: var(--gap);
}
.footer__badge {
  position: absolute;
  left: 50%;
  top: -19px;
  margin-left: -18px;
}
.footer,
.footer a {
  color: #222;
}
.footer li {
  list-style: none;
}
.footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__social li {
  margin-right: 1.125rem;
}
.footer__social li:last-child {
  margin: 0;
}
.card {
  position: relative;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.card__content,
.card__footer {
  padding: 3rem;
  padding: var(--gap) calc( var(--gap) * 1.5);
}
.card__footer {
  border-top: 1px solid #EFEFEF;
  background: url(img/pattern-roo-black-10.svg) top left repeat;
}
.test {
  height: 400px;
  background-color: blue;
  width: calc(100% + var(--gap));
  margin-left: calc(-1 * var(--gap));
}
body {
  margin-bottom: 2rem;
  margin-bottom: var(--gap);
}
.page-styleguide section {
  outline: 1px solid blue;
}
.page-styleguide .grid > * {
  min-height: 180px;
  outline: 1px solid green;
}

/*# sourceMappingURL=roodesign.css.map */
